@import url('https://cdn.jsdelivr.net/gh/Pattern-Labs/styling@main/web/css/pattern-colors.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: var(--pattern-darkest);
    color: var(--pattern-lightest);
    font-family: 'Open Sans', sans-serif;
}
